
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

/* GENERAL APP STYLING */


  body {
  background-color: black;
}

#title {
  height: 175px;
  width: 1000px;
  padding-left: 200px;
}

h1 {
  border-radius: 10px;
  background-image: linear-gradient(rgb(233, 165, 38), rgb(0, 255, 255));
  text-align: center;
  font-family: fantasy;
  font-size: 100px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  border-radius: 10px;
  background-image: linear-gradient(rgb(233, 165, 38), rgb(0, 255, 255));
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



hr{
  background-color:black;
  color:black;
  height:2px;
  border-color:black;
  width:500px;
}



.error{
  color:red;
  font-size:50px;
  text-align:center;
  margin-top:50px;
  font-family: fantasy;
  height:50px;

}

#login,
#create_account, #join_course, #create_course {
  border: none;
  background-color: inherit;
  font-size: 50px;
  font-family: fantasy;
  cursor: pointer;
  width: 600px;
  float: left;
  color:black;
  
}

.selected {
  opacity: 1.0;
}



button{
  opacity: 0.25;
}


#gradient_delete, #gradient_create, #gradient{
  background-image: linear-gradient(to right, rgb(233, 165, 38), rgb(0, 255, 255));
  opacity: 1.0;
  border-radius:10px;
  width:100px;
  height:50px;
  font-size:20px;
  margin-left:70px;
}

#gradient_create{
  margin-left:260px;
}

#gradient{
  margin-left:0px;
}

/* LOGIN PAGE */

#login_box{
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(233, 165, 38), rgb(0, 255, 255));
  width: 1200px;
  height: 800px;
  margin-left: 100px;
}

#create_submit, #login_submit{
  opacity:1.0;
  font-size:40px;
  margin-top:100px;
  margin-left:475px;
  border-radius:10px;
}


#login_submit{
  margin-left: 550px;

}


.prompt_box {
  margin-top: 40px;
  text-align: center;
}

.prompt_box input {
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
  width: 600px;
  border-radius: 5px;
  border: 10px;
}




/* DASHBOARD */

.dashboard{
  
      background-image: linear-gradient(to right, rgb(233, 165, 38) , rgb(0, 255, 255));
      font-size:100px;
      font-family: fantasy;
      border-radius: 25px;
      width: 600px;
      height: 400px;
      line-height:400px;
      text-align: center;
      float:left;
      transform: scale(0.9);
      transition-duration: 0.5s;
      margin-bottom:50px;
      margin-left:50px;
      margin-top:0px;
    
}

.dashboard:hover {
  transform: scale(1.01);
  transition-duration: 0.5s;
}

#content{
  float:left;

}



/* COURSES */

#created_courses{
  width: 650px;
  float:left;
  color:white;
}

#create_course_form{
  width:650px;
  float: left;
  color:white;
}

#create_course_form input{
  width:500px;
  height:50px;
  border-radius:10px;
  color:black;
  font-size:30px;
  margin-left:80px;
}

#description{
  font-size:20px;
}





/* ACCOUNT PAGE */

#yes,
#no{
  
  opacity:1.0;
}

#logout, #yes, #no{
  opacity:1.0;
  font-size:50px;
  width:300px;
  background-image: linear-gradient(rgb(233, 165, 38), rgb(0, 255, 255));

  cursor:pointer;
  border-radius:25px;
}

#log{
  color:white;
}



/* NAVBAR */

#nav {
  color: black;
  background-image: linear-gradient(rgb(233, 165, 38), rgb(0, 255, 255));
  width: 100%;
  height: 80px;
  font-family: Fantasy;
  font-size: 30px;
  border-radius: 50px;
}

#navtext a{
  margin-left:70px;
  line-height: 80px;
}


/* CREATE */
#make_post{
  color:white;
  text-align:center;
  font-size:50px;
}


/* POSTS*/

#view_posts{
  text-align:center;
}

#post{
  width:700px;
  color:black;
  background-image: linear-gradient(rgb(233, 165, 38), rgb(0, 255, 255));
  border-radius:25px;
  float:left;
  margin-left:350px;
  margin-bottom:100px;
}

#delete{
  float:left;
  margin-left:20px;
}

#show_answer{
  background-color:black;
  color:white;
  opacity:1.0;
  border-radius:25px;
  height:50px;
  width:200px;
  font-size:20px;


}

